<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/Contacto.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/resources/js/Nav,js"></script>
    <title>Contacto</title>
</head>
<section>

</section>
<body>
   <div class="container-fluid" id="c1">
    <nav class="navbar navbar-expand-lg">
        <img src="/resources/Img/WhatsApp Image 2024-10-02 at 4.13.47 PM.jpeg" alt="" style="height: 80px; width: 100px; margin-left:100px;  margin-right: 30px; margin-top: 20px;">
        <a class="navbar-brand" href="#" style="margin-top: 45px;">Paramédicos GER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-top: 50px;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pricing">Programas De Entrenamiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Grupo De Rescate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    
   </div>

   <div  class="carousel-container">
        <div class="carousel">
            <div class="slide active" style="background-image: url('/resources/Img/WhatsApp\ Image\ 2024-10-02\ at\ 4.12.57\ PM.jpeg');"></div>
            <div class="slide active" style="background-image: url('/resources/Img/WhatsApp\ Image\ 2024-10-02\ at\ 4.13.47\ PM.jpeg');"></div>
            <div class="slide active" style="background-image: url('/resources/Img/WhatsApp\ Image\ 2024-10-02\ at\ 4.12.57\ PM.jpeg');"></div>
            <div class="slide active" style="background-image: url('/resources/Img/WhatsApp\ Image\ 2024-10-02\ at\ 4.12.57\ PM.jpeg');"></div>
        </div>
   </div>

        
 <div class="container-fluid" id="c2" style="margin-top: 150px;">
    <div class="row" id="r1">
        <h2 style=" margin-top: 50px; text-align: center;">CONTACTO</h2>
    </div>

    <div class="container-fluid" id="c3">
        <div class="row">
            <div class="col-md-2" style="margin-top: 200px">
                <img src="/resources/Img/WhatsApp Image 2024-10-02 at 4.12.58 PM.jpeg" alt="" style="width: 300px ; height: 400px;">
            </div>
            <div class="col-md-4">
                <h3 style=" margin-left: 140px; margin-bottom: 50px; margin-top:150px;">CONTACTANOS</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                  Sede Cali
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <strong>Dirección: Kra 50 Nº34-40 B/Ciudad 2000</strong> 
                                        <div class="row"> <h7>Numero de Telefono: <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFA500" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                          </svg> <strong>(57)3023489810 </strong>  </h7> </div>
                                        <div class="row"> <h7>INFORMES E INSCRIPCIONES <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFA500" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                          </svg> <strong>(57)3002672247 </strong>  </h7> </div>
                                    </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                  Sede Popayan
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="row">
                                       <strong>Dirección: Kra 9B Nº 62N-56 B/Bella Vista</strong> 
                                    </div>
                                    <div class="row">
                                        <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFA500" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                          </svg> (57)3137487121</strong>
                                    </div>
                                 </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                  Email
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="row">
                                        <strong> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFA500" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                                          </svg> direcciongeneral@paramedicosger.org</strong>
                                    </div>
                                    <div class="row">
                                        <strong> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFA500" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                                          </svg> contacto@paramedicosger.org.</strong>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                    Horario de Atencion
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                  <div class="accordion-body">
                                    <div class="row"> <strong>Lunes a viernes 9 am – 5 pm</strong> </div>
                                    <div class="row">  <strong>Sábado : 8 am – 4 pm</strong></div>
                                    <div class="row"><strong>Domingo: Cerrado</strong> </div>
                                   </div>
                                </div>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" >

                <h3 style=" margin-left: 140px; margin-bottom: 50px; margin-top: 150px;">Preisncribete Con Nosotros</h3>
                <form action="" >
                    <div class="row">
                        <div class="col-md-5">
                            <label for="inputNombre" class="form-label">Nombre</label>
                            <input type="email" class="form-control"  id="inputEmail4">
                        </div>
                        <div class="col-md-5">
                            <label for="inputApellido" class="form-label">Apellido</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-2" >
                            <label for="inputNombre" class="form-label">Edad</label>
                            <input type="text" class="form-control"  aria-label="State">
                          </div>
                    </div>
                    
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-4">
                            <label for="inputNumero" class="form-label">Numero de Contacto</label>
                            <input type="text" class="form-control" placeholder="WhatsApp" aria-label="State">
                        </div>
                        <div class="col-md-8">
                            <label for="inputCorreo" class="form-label">Correo Electrónico</label>
                            <input type="text" class="form-control" placeholder="@example.com" aria-label="State">
                        </div>
                    </div>
                   
                    <select class="form-select form-select" aria-label="Small select example" style="margin-top: 20px;">
                        <option selected>Selecciona el Programa de Interes</option>
                        <option value="1">SOPORTE VITAL PREHOSPITALARIO Y RESCATE "PARAMEDICOS"</option>
                        <option value="2">ESPECIALIZACION EN BÙSQUEDA Y RESCATE</option>
                        <option value="3">RESCATE AEREO (OPERACION CON HELICOPTEROS)</option>
                      </select>

                      <button style="margin-top: 40px; width: 100px; height: 40px; border-radius: 20px; background-color: coral;" > Enviar </button>
                </form>
              
            </div>
          
                <div class="col-md-2" style="margin-top: 200px">
                    <img src="/resources/Img/WhatsApp Image 2024-10-02 at 4.12.58 PM.jpeg" alt="" style="width: 300px ; height: 400px;">
                </div>
           

        </div>
    </div>
 </div>
    
</body>

    <footer style="background-color: black; color: aliceblue; text-align: center; margin-top: 50px;padding: 20px;" >
        <div class="container">
            <p>&copy; 2024 Paramédicos GER. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</html>
